.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.img-card {
    height: 200px;
    width: 80%;
    object-fit: contain;
    border-radius: 30px;
}


.navbar {
    background-color: rgb(0, 0, 0);
}

.btn-20-de-janeiro-de-2023 {
    background-color: rgb(0, 71, 93);
}

.btn-20-julho-de-2023 {
    background-color: rgb(4, 89, 114);
}

.btn-16-de-dezembro-de-2022 {
    background-color: rgb(4, 95, 122);
}

.btn-7-de-dezembro-2022 {
    background-color: rgb(1, 28, 36);
}

.btn-17-de-junho-2022 {
    background-color: rgb(58, 3, 3);
}

.btn-13-de-maio-de-2022 {
    background-color: rgb(2, 28, 83);
}

.btn-8-de-outubro-de-2021 {
    background-color: rgb(3, 14, 65);
}

.btn-16-de-julho-de-2021 {
    background-color: rgb(26, 25, 25);
}

.btn-19-de-março-de-2021 {
    background-color: rgb(146, 27, 27);
}

.btn-3-de-março-de-2021 {
    background-color: rgb(51, 2, 6);
}

.btn-28-de-fevereiro-de-2021 {
    background-color: rgb(19, 18, 18);
}

.btn-30-de-outubro-de-2020 {
    background-color: rgb(4, 109, 74);
}

.btn-26-de-outubro-de-2018 {
    background-color: rgb(4, 130, 146);
}

.btn-18-de-setembro-de-2018 {
    background-color: rgb(1, 84, 109);
}

.btn-23-de-março-de-2018 {
    background-color: rgb(77, 77, 77)
}

.btn-24-de-novembro-de-2017 {
    background-color: rgb(88, 88, 88);
}


.container {
    display: flex;
    align-items: center;
    margin: 45px;
  }
  
  .row {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .col-lg-3 {
    padding-right: 50px; /* Ajuste do espaço entre a imagem e o texto */
  }
  
  .img-card {
    max-width: 50%; /* Define a imagem menor */
    height: auto;
  }
  
  .col-lg-9 {
    margin-left: 0; /* Remove qualquer margem extra à esquerda */
    padding-left: 0; /* Remove padding extra à esquerda */
  }
  
  .text-white p {
    margin-bottom: 0; /* Remove a margem inferior para reduzir o espaço */
  }

